#inputs .strategies{
    display: inline-block;
    vertical-align: middle;
}
#upload{
    display: inline-block;
    vertical-align: middle;
}
#upload {
    border: 3px dashed gray;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}
#upload.drop{
    border-color: black;
    background-color: gray;
}
#inputs_control{
    margin: 0 30px;
}
.strategies{
    height: 170px;
    width:150px;
}
.strategies input{
    width:20px;
}
.strategies .label1{
    display:block;
    width:100%;
    height:20px;
    margin:0 20px;
}
.strategies .label2{
    display:inline-block;
    width:20px;
    height:50%;
    margin:0px 0;
    clear:left;
    vertical-align: top;
}
.strategies table{
    display:inline-block;
}
.strategies .addV{
    display:inline-block;
    height:50%;
    width:20px;
    margin: 0 0 0px 0;
    vertical-align: top;
}
.strategies .addH{
    display: block;
    width:50%;
    height:20px;
    margin: 0 auto;
}

.goButton{
    margin:20px 150px;
    clear:left;
}
.resultArea{
    margin: 10px auto;
    border:1px solid red;
    border-radius:5px;
    width:80%;
    padding:10px;
}
#params{
    width:100%;
    float:left;
}
#params_method, #params_where{
    margin:30px 20px 5px;
    border:1px solid gray;
    border-radius: 3px;
    padding:3px;
    width: 290px;
    float:left;
}
#params_method div div{
    margin:5px 0;
}

.footer{
    text-align: center;
    font-family: Verdana;
    line-height: 15px;
    width: 900px;
    border-radius: 5px;
    background: gray;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 50px;
}
.footer p{
    margin: 5px 0;
}

#rules{
    border-radius: 10px;
    border: 1px solid green;
    
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    
    display: none;
}
#rules #rule #predekat, #rules #rule #strategy{
    display: inline-block;
}
#rules #rules_plus{
    margin-left: 95%;
    margin-top: 7px;
}

#use_opponent_information{
    margin-left: 75px;
    margin-bottom: 20px;
}